<div class="form-group">
    <input type="text" class="form-control" name="gender-genderval" placeholder="Vrednost" value="<?php echo ($data['selectedGender']->id) ? $data['selectedGender']->genderval : "";?>">
</div>